<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>客户关系管理系统</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" th:href="@{/success}" style="color: #000000">客户关系管理系统</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>


                        <li class="nav-item dropdown nav-user">
                            <a class="dropdown-item" style="margin-top: 10px" th:href="@{/index}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>

                        <!--营销管理-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>营销管理</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/market/findAll}">销售机会管理</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/market/all}">客户开发计划</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <!--客户管理-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>客户管理</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/client/findAll}">客户信息管理</a>


                                </ul>
                            </div>
                        </li>
                        <!--服务管理-->
                        <li class="nav-item ">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>服务管理</a>
                            <div id="submenu-4" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="service/servicecreate.html">服务创建</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="service/servicepush.html">服务分配</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="service/servicedoing.html">服务处理</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="service/servicedone.html">服务归档</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--统计报表-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>统计报表</a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="statis/tongji.html">客户贡献分析</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="statis/tongjiconsist.html">客户构成分析</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="statis/tongjiservice.html">客户服务分析</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <!--基础数据-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>基础数据</a>
                            <div id="submenu-6" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">数据字典管理</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">查询产品信息</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">查询库存</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--权限管理-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>权限管理<span class="badge badge-secondary">权限管理</span></a>
                            <div id="submenu-7" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="users/userlist.html">用户管理</a>
                                    </li>


                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
<!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title" th:text="'Welcome,'+${session.user.name}+'~😎'"> </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">

                                        <li class="breadcrumb-item active" aria-current="page">Timeline</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- timeline  -->
                <!-- ============================================================== -->

                <section class="cd-timeline js-cd-timeline">
                    <div class="cd-timeline__container">
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-picture.svg" alt="Picture">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Title of section 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="#0" class="btn btn-primary btn-lg">Read More</a>
                                <span class="cd-timeline__date">12 July, 2016</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-movie.svg" alt="Movie">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Title of section 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                                <a href="#0" class="btn btn-primary btn-lg">Read More</a>
                                <span class="cd-timeline__date">20 July, 2017</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-picture.svg" alt="Picture">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Title of section 3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                                <a href="#0" class="btn btn-primary btn-lg">Read More</a>
                                <span class="cd-timeline__date">24 July, 2020</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-location.svg" alt="Location">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Title of section 4</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="#0" class="btn btn-primary btn-lg">Read More</a>
                                <span class="cd-timeline__date">12 September, 2020</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-location.svg" alt="Location">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Title of section 5</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                                <a href="#0" class="btn btn-primary btn-lg">Read More</a>

                                <span class="cd-timeline__date">20 September, 2020</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                        <div class="cd-timeline__block js-cd-block">
                            <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                                <img src="assets/vendor/timeline/img/cd-icon-movie.svg" alt="Movie">
                            </div>
                            <!-- cd-timeline__img -->
                            <div class="cd-timeline__content js-cd-content">
                                <h3>Final Section</h3>
                                <p>This is the content of the last section</p>
                                <span class="cd-timeline__date">1 October, 2020</span>
                            </div>
                            <!-- cd-timeline__content -->
                        </div>
                        <!-- cd-timeline__block -->
                    </div>
                </section>
                <!-- cd-timeline -->

                <!-- ============================================================== -->
                <!-- end timeline  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2020 Concept. All rights reserved.More Templates .
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>
</body>
 
</html>