<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间定义-->
<mapper namespace="com.codelin.dao.PlanDao">

    <select id="findByClientName" parameterType="String" resultType="Plan">
        select *
        from plan where clientname = #{clientname};
    </select>

    <delete id="delete" parameterType="int">
        delete from plan where id = #{id}
    </delete>

    <insert id="add" parameterType="Plan">
        insert into plan (clientname, date, item)
        VALUES (#{clientname},#{date}, #{item})
    </insert>

</mapper>